<template>
    <div class="footer">
        <el-divider></el-divider>
        <p> &copy; 2020 <a href="https://linger.ink">Linger</a></p>
    </div>
</template>

<script>
export default {
    name: "Footer"
};
</script>