<template>
  <div>
    <div class="Order" v-loading="isLoading">
      <el-table :data="dataList" style="width: 100%">
        <el-table-column prop="id" label="订单号"></el-table-column>
        <el-table-column prop="startTime" label="开始时间"></el-table-column>
        <el-table-column prop="endTime" label="结束时间"></el-table-column>
        <el-table-column prop="roomId" label="自习室号"></el-table-column>
        <el-table-column prop="status" label="状态">
          <template slot-scope="scope">
            <el-tag
              :type="statusTagList[scope.row.status]"
              disable-transitions
            >{{ statusList[scope.row.status] }}</el-tag>
          </template>
        </el-table-column>
        
      </el-table>
      <el-pagination
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-size="15"
        layout="total, prev, next, jumper"
        :total="total"
        style="width: 100%;text-align: center;margin-top: 10px;"
        background
      ></el-pagination>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Order",
  data() {
    return {
      dataList: [],
      statusList: ["订单中", "下单失败", "下单成功", "完成", "未未成"],
      statusTagList: ["info", "warning", "primary", "success", "danger"],
      currentPage: 1,
      total: -1,
      pageSize: 15,
      isLoading: true
    };
  },
  created() {
    this.handleCurrentChange(1);
  },
  methods: {
    handleCurrentChange(val) {
      this.isLoading = true;
      function formatTime(stamp) {
        var date = new Date(stamp);
        let year = date.getFullYear();
        let month = date.getMonth();
        let day = date.getDate();
        let hour = date.getHours();
        let minute = date.getMinutes();
        if (minute == 0) {
          minute = "00";
        }
        return year + "-" + month + "-" + day + " " + hour + ":" + minute;
      }
      let url = "http://rap2.taobao.org:38080/app/mock/246761";
      this.$http
        .get(
          url +
            "/user/order/" +
            val * this.pageSize +
            "/" +
            (val + 1) * this.pageSize
        )
        .then(res => {
          this.dataList = res.body.body.orders;
          this.total = res.body.body.fullOrdersSize;
          for (let index = 0; index < this.dataList.length; index++) {
            const element = this.dataList[index];
            this.dataList[index].startTime = formatTime(element.startTime);
            this.dataList[index].endTime = formatTime(element.endTime);
          }
          this.isLoading = false;
        });
    }
  }
};
</script>

<style scoped>
.Order {
    padding: 0px 25px;
}
</style>