<template>
  <div>
    <Banner msg="管理" />
    <div class="User">
      <el-form :model="ruleForm" :rules="rules" ref="ruleForm">
        <el-form-item label="用户名" prop="username">
          <el-input
            placeholder="请输入用户名"
            v-model="ruleForm.username"
            @change="updateUsername('ruleForm')"
          ></el-input>
        </el-form-item>
        <el-form-item label="账号">
          <el-input v-model="ruleForm.userId" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="组">
          <el-input v-model="ruleForm.userGroup" :disabled="true"></el-input>
        </el-form-item>
        <el-form-item label="签名">
          <el-input
            type="textarea"
            :autosize="{ minRows: 2, maxRows: 4}"
            placeholder
            v-model="ruleForm.userDescription"
            @change="updateDescription"
          ></el-input>
          <el-form-item label="手机号" prop="userPhoneNumber">
            <el-input v-model="ruleForm.userPhoneNumber"></el-input>
          </el-form-item>
        </el-form-item>
      </el-form>

      <el-divider></el-divider>

      <el-form :model="passwordForm" :rules="passwordRules" ref="passwordForm">
        <el-form-item label="原密码" prop="oldPassword">
          <el-input placeholder="请输入原密码" v-model="passwordForm.oldPassword" show-password></el-input>
        </el-form-item>
        <el-form-item label="新密码" prop="newPassword">
          <el-input placeholder="请输入新密码" v-model="passwordForm.newPassword" show-password></el-input>
        </el-form-item>
        <el-form-item label="确认新密码" prop="checkNewPassword">
          <el-input placeholder="请确认新密码" v-model="passwordForm.checkNewPassword" show-password></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="updatePassword('passwordForm')" style="float:right;">更新</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>


export default {
  name: "User",
  data() {
    var validateNewPassword = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请输入新密码"));
      } else {
        callback();
      }
    };
    var validateCheckNewPassword = (rule, value, callback) => {
      if (value === "") {
        callback(callback(new Error("确认新密码")));
      } else {
        if (this.passwordForm.checkNewPassword !== "") {
          if (value !== this.passwordForm.newPassword) {
            callback(callback(new Error("两次密码不一致")));
          }
        }
        callback();
      }
    };
    var validatePhoneNumber = (rule, value, callback) => {
      let re = /^[1]([3-9])[0-9]{9}$/;
      if (value === "") {
        callback(new Error("请输手机号码"));
      } else {
        if (!re.test(value)) {
          callback(new Error("请输正确的手机号码"));
        }
        callback();
      }
    };
    return {
      user: {},
      order: {},

      ruleForm: {
        username: "",
        userGroup: "",
        userDescription: "",
        userPhoneNumber: "",
        userId: ""
      },
      passwordForm: {
        oldPassword: "",
        newPassword: "",
        checkNewPassword: ""
      },
      rules: {
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" },
          { min: 2, max: 20, message: "长度在 2 到 20 个字符", trigger: "blur" }
        ],
        userPhoneNumber: [
          { required: true, validator: validatePhoneNumber, trigger: "blur" }
        ]
      },
      passwordRules: {
        oldPassword: [
          { required: true, message: "请输入密码", trigger: "blur" }
        ],
        newPassword: [{ validator: validateNewPassword, trigger: "blur" }],
        checkNewPassword: [
          { validator: validateCheckNewPassword, trigger: "blur" }
        ]
      }
    };
  },
  created() {
    let url = "http://rap2.taobao.org:38080/app/mock/246761";
    console.log(this.$cookies.get("token"));
    let config = {
      headers: {
        Authorization: this.$cookies.get("token")
      },
      emulateJSON: true
    };
    this.$http.get(url + "/user/info", config).then(res => {
      this.user = res.body.body;
      this.ruleForm.username = this.user.username;
      this.ruleForm.userGroup = this.user.group;
      this.ruleForm.userId = this.user.userId;
      this.ruleForm.userDescription = this.user.description;
      this.ruleForm.userPhoneNumber = this.user.phoneNumber;

      console.log(this.user);
      console.log(res.body);
    });
  },
  methods: {
    updatePassword(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.$message({ message: "修改成功", type: "success" });
        } else {
          this.$message({ message: "请完成表单", type: "warning" });
          return false;
        }
      });
    },
    updatePhoneNumber(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.$message({ message: "手机号修改成功", type: "success" });
        } else {
          this.$message({ message: "请完成表单", type: "warning" });
          return false;
        }
      });
    },
    updateUsername(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.$message({ message: "用户名修改成功", type: "success" });
        } else {
          this.$message({ message: "请完成表单", type: "warning" });
          return false;
        }
      });
    },
    updateDescription() {
      this.$message({ message: "简介修改成功", type: "success" });
    }
  }
};
</script>

<style>
.User input[type="password"] {
  margin-bottom: 10px;
}

.User {
  padding: 0px 25px;
}
</style>
